@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@300;500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif;
    color: #311b92;
}

a {
    font-family: 'Jost', sans-serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: #311b92;
}

i {
    color: #311b92;
}

/*----------------- General Styling -----------------*/

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff59d;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

nav a i {
    color: #fff59d;
}

nav .brand-logo {
    color: #fff59d;
}

nav ul li a {
    color: #fff59d;
}

#mobile-nav li a {
    color: #fff59d;
}

form {
    color: #311b92;
}

button {
    color: #fff59d;
    font-weight: 500;
}

.btn_small {
    color: #fff59d;
    height: 25px;
    width: 50px;
    line-height: 25px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

/* label color */
.input-field label {
    color: #311b92;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #311b92;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #311b92;
}