<!DOCTYPE html>

{% extends 'index.html' %}

{% block title %}Advanced Word Search{% endblock title %}

<!-- Block Content starts here -->
{% block content %}
    <!-- Block Header content starts here -->
    {% block header %}
        <p class="flow-text">For an advanced search, select your options and enter your jargon in the search box below.</p>
    {% endblock header %}
    <!-- Block Header content ends here -->
    <!-- Block Main content starts here -->
    {% block main %}
        <div class="row">
            <div class="col s12">
                <article>
                    <h1 class="center-align">Add Jargon</h1>
                    <form action="{{ url_for('insert_jargon') }}" method="POST">
                        <fieldset>
                            <legend>Add Jargon Form</legend>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="category-name" name="category-name" type="text" class="validate">
                                    <label for="category-name">Category Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="word" name="word" type="text" class="validate">
                                    <label for="word">Word</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="definition" name="definition" type="text" class="validate">
                                    <label for="definition">Definition</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="meaning" name="meaning" type="text" class="validate">
                                    <label for="meaning">Meaning</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="synonyms" name="synonyms" type="text" class="validate">
                                    <label for="synonyms">Synonyms</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="antonyms_or_opposite" name="antonyms_or_opposite" type="text"
                                        class="validate">
                                    <label for="antonyms_or_opposite">Opposites</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">edit</i>
                                    <input id="part_of_speech" name="part_of_speech" type="text" class="validate">
                                    <label for="part_of_speech">Part of Speech</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">font_download</i>
                                    <input id="alphabets" name="alphabets" type="text" class="validate">
                                    <label for="alphabets">Alphabets</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix" style="color: #311b92;">date_range</i>
                                    <input id="date_added" name="date_added" type="text" class="datepicker">
                                    <label for="date_added">Date Added</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light deep-purple darken-4"
                                style="color: #fff59d;" type="submit" name="action">Add Jargon
                                <i class="large material-icons right" style="color: #fff59d;">playlist_add</i>
                            </button>
                        </fieldset>
                    </form>
                </article>
            </div>
        </div>
    {% endblock main %}
    <!-- Block Main content ends here-->
{% endblock %}
<!-- Block content ends here -->