<!DOCTYPE html>

{% extends 'index.html' %}

{% block title %}Browse Jargon by scrolling{% endblock title %}

<!-- Block Content starts here -->
{% block content %}
    <!-- Block Header content starts here -->
    {% block header %}
        <p class="flow-text">Browse the Jargon by scrolling below.</p>
    {% endblock header %}
    <!-- Block Header content ends here -->
    <!-- Main content starts here -->
    {% block main %}
        {% for jar in jargon %}
            <div class="row">
                <article>
                    <h1 class="center-align">Jargon</h1>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <em>{{jar.category_name}}</em>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong>{{jar.word}}</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong style="color: #3e2723;">Definition:</strong> <em>{{jar.definition}}</em>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong style="color: #1b5e20;">Meaning:</strong> <em>{{jar.meaning}}</em>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong>Synonyms:</strong> {{jar.synonyms}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong>Opposite:</strong> {{jar.antonyms_or_opposite}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong>Part of Speech:</strong> {{jar.part_of_speech}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong>Alphabet:</strong> {{jar.alphabets}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="flow-text">
                                <strong>Date Added:</strong> {{jar.date_added}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 m2 l1 xl1">
                            <a href="{{url_for('add_jargon', jargon_id=jar._id)}}"
                                class="waves-effect waves-light btn btn_small deep-purple darken-4"
                                style="color: #fff59d;">Add</a>
                        </div>
                        <div class="col s3 m2 l1 xl1">
                            <a href="{{url_for('edit_jargon', jargon_id=jar._id)}}"
                                class="waves-effect waves-light btn btn_small deep-purple darken-4"
                                style="color: #fff59d;">Edit</a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}    
    {% endblock main %}
    <!-- Block Main content ends here -->
{% endblock %}
<!-- Block content ends here -->