<!DOCTYPE html>

{% extends 'index.html' %}

{% block title %}Contact{% endblock title %}

<!-- Block Content starts here -->
{% block content %}
    <!-- Block Header content starts here -->
    {% block header %}
        <p class="flow-text">
            Thank you for visiting, we hope that you have found this site resourceful
            in your quest towards understanding words and expressions that are
            commonly used by sheng speakers. 
        </p>
    {% endblock header %}    
    <!-- Block Header content ends here -->
    <!-- Block Main content starts here -->
    {% block main %}
        <div class="row">
            <div class="col s12">
                <article>
                    <h1>Contact Form</h1>
                    <form action="#" method="#">
                        <fieldset>
                            <legend>Contact Information</legend>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="first_name" type="text" class="validate">
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate">
                                    <label for="last_name">Last Name</label>
                                </div>
                                <br>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">
                                        We'll never share your email with anyone else.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="input-your-message" class="materialize-textarea" data-length="120"></textarea>
                                    <label for="textarea2">Message</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light deep-purple darken-4" style="color: #fff59d;" type="submit" name="action">Submit
                                <i class="large material-icons right" style="color: #fff59d;">playlist_add</i>
                            </button>
                        </fieldset>
                    </form>
                </article>
            </div>
        </div>
    {% endblock main %}
    <!-- Block Main content ends here -->
{% endblock %}
<!-- Block content ends here -->