<!DOCTYPE html>

{% extends 'index.html' %}

{% block title %}Edit Categories{% endblock title %}

<!-- Block Content starts here -->
{% block content %}
    <!-- Block Header content starts here -->
    {% block header %}
        <p class="flow-text">In the form below you can update, add or delete a category.</p>
    {% endblock header %}
    <!-- Block Header content ends here -->
    <!-- Block Main content starts here -->
    {% block main %}
        <div class="row">
            <article>
                <h1>Edit category</h1>
                <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST">
                    <fieldset>
                        <legend>Edit Category form</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="category_name" name="category_name" type="text" class="validate" value="{{category.category_name}}">
                                <label for="category_name">Category Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light deep-purple darken-4" style="color: #fff59d;" type="submit" name="action">Update Category
                                <i class="material-icons right" style="color: #fff59d;">playlist_add</i>
                            </button>
                            <a href="{{url_for('delete_category', category_id=category._id)}}"
                                class="waves-effect waves-light btn deep-purple darken-4"
                                style="color: #fff59d;">
                                <i class="material-icons right" style="color: #fff59d;">delete</i>Delete
                            </a>
                            <a href="{{ url_for('categories') }}" class="waves-effect waves-light btn deep-purple darken-4"
                                style="color: #fff59d;">
                                <i class="material-icons right" style="color: #fff59d;">cancel</i>Cancel
                            </a>
                        </div>
                    </fieldset>
                </form>
            </article>
        </div>
    {% endblock main %}
    <!-- Block Main content ends here -->
{% endblock %}
<!-- Block content ends here -->