<!DOCTYPE html>

{% extends 'index.html' %}

{% block title %}Edit Categories{% endblock title %}

<!-- Block Content starts here -->
{% block content %}
    <!-- Block Header content starts here -->
    {% block header %}
        <p class="flow-text">In the form below you can update, add or delete a category.</p>
    {% endblock header %}
    <!-- Block Header content ends here -->
    <!-- Block Main content starts here -->
    {% block main %}
        <div class="row">
            <article>
                <h1>Edit Jargon</h1>
                <form action="{{ url_for('update_jargon', jargon_id=jargon._id,) }}"
                    method="POST">
                    <fieldset>
                        <legend>Edit Jargon form</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="word" name="word" type="text" class="validate"
                                    value="{{jargon.word}}">
                                <label for="word">Word</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="definition" name="definition" type="text" class="validate"
                                    value="{{jargon.definition}}">
                                <label for="definition">Definition</label>
                                <span class="helper-text" data-error="wrong" data-success="right">Definition of the word or expression in English.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="meaning" name="meaning" type="text" class="validate"
                                    value="{{jargon.meaning}}">
                                <label for="meaning">Meaning</label>
                                <span class="helper-text" data-error="wrong">Meaning of the word or expression in English.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="synonyms" name="synonyms" type="text" class="validate"
                                    value="{{jargon.synonyms}}">
                                <label for="synonyms">Synonyms</label>
                                <span class="helper-text" data-error="wrong" data-success="right">Words or expression with a similar meaning e.g. <em>1<sup>st</sup> synonym, 2<sup>nd</sup> synonym, ...</em></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="antonyms-or-opposite" name="antonyms_or_opposite" type="text" class="validate"
                                    value="{{jargon.antonyms_or_opposite}}">
                                <label for="antonyms-or-opposite">Opposites</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix" style="color: #311b92;">format_list_bulleted</i>
                                <input id="alphabets" name="alphabets" type="text" class="validate"
                                    value="{{jargon.alphabets}}">
                                <label for="alphabets">Alphabet</label>
                                <span class="helper-text" data-error="wrong" data-success="right">Write the first
                                    alphabet of the word or expression <em>e.g. "Kata tamaa - Kk", "Bonga - Bb"...</em></span>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light deep-purple darken-4" style="color: #fff59d;"
                                type="submit" name="action">Update Category
                                <i class="material-icons right" style="color: #fff59d;">playlist_add</i>
                            </button>
                            <a href="{{url_for('delete_jargon', jargon_id=jargon._id)}}"
                                class="waves-effect waves-light btn deep-purple darken-4" style="color: #fff59d;">
                                <i class="material-icons right" style="color: #fff59d;">delete</i>Delete
                            </a>
                            <a href="{{ url_for('browse_jargon') }}"
                                class="waves-effect waves-light btn deep-purple darken-4" style="color: #fff59d;">
                                <i class="material-icons right" style="color: #fff59d;">cancel</i>Cancel
                            </a>
                        </div>
                    </fieldset>
                </form>
            </article>
        </div>
    {% endblock main %}
    <!-- Block Main content ends here -->
{% endblock %}
<!-- Block content ends here -->