<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title content -->
    <title>Sheng Jargon - {% block title %}{% endblock title %}</title>
    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost:wght@300;500&display=swap" rel="stylesheet">
    <!--Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrapcdn Fontawesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">
    <!-- Meta links -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- style.css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
    <!-- Nav content starts here -->
    {% block nav %}
        <nav class="deep-purple darken-4">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{{url_for('quick_jargon_search')}}" class="brand-logo">SJ</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="large material-icons right" style="color: #fff59d;">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('quick_jargon_search')}}">Quick Search</a></li>
                        <li><a href="{{url_for('advanced_jargon_search')}}" target="_blank">Advanced Search</a></li>
                        <li><a href="{{url_for('browse_jargon')}}">Jargon</a></li>
                        <li><a href="{{url_for('browse_jargon_by_alphabet')}}" target="_blank">Browse by alphabet</a></li>
                        <li><a href="{{url_for('categories')}}" target="_blank">Categories</a></li>
                        <li><a href="{{url_for('contact')}}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Mobile version Navigation -->
        <ul class="sidenav deep-purple darken-4" id="mobile-nav">
            <li>
                <div class="background">
                    <img src="{{url_for('static', filename='images/logo/sheng-jargon-img-logo.svg')}}"
                        alt="Sheng Jargon Pill shaped logo">
                </div>
            </li>
            <hr class="yellow lighten-3">
            <li><a href="{{url_for('quick_jargon_search')}}"><i class="material-icons"
                        style="color: #fff59d;">search</i>Quick Word Search</a></li>
            <li><a href="{{url_for('advanced_jargon_search')}}"><i class="material-icons"
                        style="color: #fff59d;">search</i>Advanced Word Search</a></li>
            <li><a href="{{url_for('browse_jargon')}}"><i class="material-icons"
                        style="color: #fff59d;">book</i>Jargon</a></li>
            <li><a href="{{url_for('browse_jargon_by_alphabet')}}"><i class="material-icons"
                        style="color: #fff59d;">book</i>Browse by alphabet</a></li>
            <li><a href="{{url_for('categories')}}"><i class="material-icons"
                        style="color: #fff59d;">format_list_bulleted</i>Categories</a></li>
            <li><a href="{{url_for('contact')}}"><i class="material-icons"
                        style="color: #fff59d;">message</i>Contact</a></li>
        </ul>
    {% endblock nav %}
    <!-- Nav content ends here -->
    <!-- Base Layout page container content starts here -->
    <div class="container yellow lighten-3">
        <!-- Block Content starts here -->
        {% block content %}
            <!-- Header content starts here -->
            <header>
                <div class="row">
                    <div class="col s12">
                        {% block header %}{% endblock header %}
                    </div>
                </div>
            </header>
            <!-- Header content ends here -->
            <!-- Main content starts here -->
            <main>
                {% block main %}{% endblock main %}
            </main>
            <!-- Main content ends here -->
        {% endblock %}
        <!-- Block content ends here -->
        <!-- Footer content starts here -->
        <footer>
            <div class="row">
                <div class="col s12">
                    <p class="flow-text center-align">
                        <!-- copyright content starts here -->
                        <small>© Copyright 2020. All rights Reserved<br>Sheng Jargon</small>
                        <!-- copyright content ends here -->
                    </p>
                </div>
            </div>
        </footer>
    <!-- Footer content ends here -->
    </div>
    <!-- Base Layout page container content ends here -->
    <!-- Compiled and minified JavaScript at end of body for optimized loading -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Main.js -->
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>