
<!DOCTYPE html>

{% extends 'index.html' %}

{% block title %}Quick Word Search{% endblock title %}

<!-- Block Content starts here -->
{% block content %}
    <!-- Block Header content starts here -->
    {% block header %}
        <p class="flow-text">Welcome dear visitor to this digital platform called the <em>Sheng Jargon</em>, 
            aimed at helping you understand the sheng language. Therefore, Help us spread the knowdledge of this fascinating language.
            For a quick word search simply enter your word in the search box below.
        </p>
    {% endblock header %}
    <!-- Block Header content ends here -->
    <!-- Block Main content starts here -->
    {% block main %}
        <div class="row">
            <div class="col s12">
                <article>
                    <h1 class="center-align">Quick Word Search</h1>
                    <p class="flow-text">For a quick word search simply enter your word in the search box
                        below.</p>
                    <form action="#" method="#">
                        <fieldset>
                            <legend>Quick Word Search Form</legend>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="quick-word-search" type="text" class="validate">
                                    <label for="quick-word-search">Quick Word Search</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">One Word
                                        or an expression</span>
                                    <br>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light deep-purple darken-4" style="color: #fff59d;" type="submit" name="action">Search
                                <i class="large material-icons right" style="color: #fff59d;">search</i>
                            </button>
                        </fieldset>
                    </form>
                </article>
            </div>
        </div>
    {% endblock main %}
    <!-- Block Main content ends here -->
{% endblock content %}
<!-- Block content ends here -->