@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Oswald:wght@500&display=swap');

body {
    background-color: #180d2e;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (2500 - 300)));
}

h1, h2, h3, h4, h5, h6 {
    color: #A77CE4;
    font-family: 'Oswald', sans-serif;
}

p {
    color: #FFFADE;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.0625em;
    line-height: 1.6;
}

a {
    color: #A978F2;
}

small {
    color: #E8D5B5;
}

fieldset {
    color: #E8D5B5;
}

label {
    color: #E8D5B5;
}

hr {
    background-color: #E8D5B5;
    height: 1px;
    border: 0;
}

dt {
    color: #A978F2;
}



.cart-item-card {
    display: none;
}

.cart-item-card:hover {
    background-color: #1e103a;
}

.cart-item-description-list:hover {
    background-color: #180d2e;
}

.shopping-cart {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #231342;
}


.jumbotron {
    background-color: #180d2e;
}

.card {
    background-color: #180d2e;
}

.modal-content {
    background-color: #180d2e;
}

.alert-custom {
    background-color: #20123d;
}

.toast-header {
    background-color: #180d2e;
}

.breadcrumb {
    background-color: #180d2e;
}

.tab-content {
    background-color: #180d2e;
}

#collapseClothing {
    background-color: #180d2e;
}

#collapseAccessories {
    background-color: #180d2e;
}

#collapseFootwear {
    background-color: #180d2e;
}

.list-group-item {
    background-color: #1B0A38;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 35px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

#revealItem1 {
    display: none;
}

#revealItem2 {
    display: none;
}

#revealItem3 {
    display: none;
}

#revealItem4 {
    display: none;
}

#revealItem5 {
    display: none;
}
#revealItem6 {
    display: none;
}

#revealItem7 {
    display: none;
}

#revealItem8 {
    display: none;
}

#revealItem9 {
    display: none;
}

#revealItem10 {
    display: none;
}

#revealItem11 {
    display: none;
}

#revealItem12 {
    display: none;
}

#revealItem13 {
    display: none;
}
#revealItem14 {
    display: none;
}

#revealItem15 {
    display: none;
}

#revealItem16 {
    display: none;
}

#revealItem17 {
    display: none;
}

#revealItem18 {
    display: none;
}

#revealItem19 {
    display: none;
}

#revealItem20 {
    display: none;
}

#revealItem21 {
    display: none;
}

#revealItem22 {
    display: none;
}

#revealItem23 {
    display: none;
}

#revealItem24 {
    display: none;
}

#revealItem25 {
    display: none;
}

#revealItem26 {
    display: none;
}

#revealItem27 {
    display: none;
}

#revealItem28 {
    display: none;
}

#revealItem29 {
    display: none;
}

#revealItem30 {
    display: none;
}

#revealItem31 {
    display: none;
}

#revealItem32 {
    display: none;
}

#revealItem33 {
    display: none;
}

#revealItem32 {
    display: none;
}

#revealItem33 {
    display: none;
}

#revealItem34 {
    display: none;
}

#revealItem35 {
    display: none;
}

#revealItem36 {
    display: none;
}

#revealItem37 {
    display: none;
}

#revealItem38 {
    display: none;
}

#revealItem39 {
    display: none;
}